.gitignore~
astrodendro-test
astrodendro-test.fits
astrodendro-test.hdf5
astrodendro/build.sh
astrodendro/meta.yaml
build.sh
dist/
meta.yaml
build
*.egg-info/
.project
.pydevproject
*.pyc
.settings/

